.AddNoteContainer{
    flex:2;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.AddNoteContainer_formContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

