.NoteListContainer{
    flex:3;
    padding: 0.5rem;
}
.NoteListContainer_status{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NoteListContainer_NoteList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}