.NoteContainer{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: lightblue;
}
.NoteContainer_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 0.3rem 0;
}
.NoteContainer_main_icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.NoteContainer_footer{
    padding: 0.3rem 0;
}
