.Header_container{
  margin-bottom: 1rem;
  width: 100%;
}
.Header_header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.filterList{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filterList li{
    list-style-type: none;
  }
  @media screen and (min-width: 768px) {
    .Header_container {
        width: 50%;;
    }
  }