.modalContainer{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalContent{
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #fff;
    max-height: 30rem;
    background-color: var(--background-color);
  }
  .closeButtonSection{
    padding: 1rem 0;
    border-bottom: 1px solid gray;
    align-self: self-start;
    width: 100%;
  }
  .favoriteList{
    max-height: 40rem;
    overflow-y: auto;
  }
  .favoriteList::-webkit-scrollbar {
    display: none;
  }
  .favoriteList::-webkit-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none; 
  }