* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  padding:1rem;
}
.spaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex{
  display: flex;
  align-items: center;
  gap: 5px;
}
.lightText{
  font-size: small;
  color:gray;
}
.lightestText{
  font-size: smaller;
  color:gainsboro;
}
.circle{
  width:25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*! badges ---------------------------*/
.badge{
  padding: 1px 8px ;
  border-radius: 15%;
}
.badge_main{
  background-color: lightgray;
  color: gray;
}
.badge_danger{
  background-color: rosybrown;
  color: red;
}
.badge_success{
  background-color: lightgreen;
  color: green;
}
.badge_info{
  background-color: lightskyblue;
  color: blue;
}