.accordionContainer{
    background-color: lightgoldenrodyellow;
    transition: all;
    transition-duration: 0.4s;
    border-radius: 0.3rem;
    overflow: hidden;
}
.accordionContainer_header{
    padding:0.5rem ;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
}
.chevronDown{
    transition: all;
    transition-duration: 0.4s;
    transform: rotate(0deg);
}
.chevronUp{
    transform: rotate(180deg);
    transition: all;
    transition-duration: 0.4s;
}
.margin{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.zeroHeight{
   transition: all 0.2s;
   max-height: 0;
   opacity: 0;
   overflow: hidden;
}
.maxHeight{
    transition: all 0.4s ;
    max-height: max-content;
    opacity: 1;
    padding: 0.5rem;
}